<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>wap.wx.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>wap.wx.filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/UsersServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/users/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/main/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/public/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>wap.wx.servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TextServlet</servlet-name>
    <servlet-class>wap.wx.servlet.TextServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemsmServlet</servlet-name>
    <servlet-class>wap.wx.servlet.ItemsmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WxServlet</servlet-name>
    <servlet-class>wap.wx.servlet.WxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscriberdetailServlet</servlet-name>
    <servlet-class>wap.wx.servlet.SubscriberdetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>wap.wx.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActivityServlet</servlet-name>
    <servlet-class>wap.wx.servlet.ActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrizeServlet</servlet-name>
    <servlet-class>wap.wx.servlet.PrizeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OpenprizeServlet</servlet-name>
    <servlet-class>wap.wx.servlet.OpenprizeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForeServlet</servlet-name>
    <servlet-class>wap.wx.servlet.ForeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EnrolServlet</servlet-name>
    <servlet-class>wap.wx.servlet.EnrolServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MaterialServlet</servlet-name>
    <servlet-class>wap.wx.servlet.MaterialServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMesSerServlet</servlet-name>
    <servlet-class>wap.wx.servlet.SendMesSerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MassServlet</servlet-name>
    <servlet-class>wap.wx.servlet.MassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormelementsServlet</servlet-name>
    <servlet-class>wap.wx.servlet.FormelementsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormsServlet</servlet-name>
    <servlet-class>wap.wx.servlet.FormsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormvaluesServlet</servlet-name>
    <servlet-class>wap.wx.servlet.FormvaluesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewstypesServlet</servlet-name>
    <servlet-class>wap.wx.servlet.NewstypesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForumServlet</servlet-name>
    <servlet-class>wap.wx.servlet.ForumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DiscussServlet</servlet-name>
    <servlet-class>wap.wx.servlet.DiscussServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RedtypeServlet</servlet-name>
    <servlet-class>wap.wx.servlet.RedtypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendredpacklogsServlet</servlet-name>
    <servlet-class>wap.wx.servlet.SendredpacklogsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendredpackServlet</servlet-name>
    <servlet-class>wap.wx.servlet.SendredpackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Wxpaynotify_urlServlet</servlet-name>
    <servlet-class>wap.wx.servlet.Wxpaynotify_urlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Wxpaynotify_urlServlet2</servlet-name>
    <servlet-class>wap.wx.servlet.Wxpaynotify_urlServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PerMaterialServlet</servlet-name>
    <servlet-class>wap.wx.servlet.PerMaterialServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaleMemberServlet</servlet-name>
    <servlet-class>wap.wx.servlet.SaleMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WxsServlet</servlet-name>
    <servlet-class>wap.wx.servlet.WxsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Wxpaynotify_urlServlet3</servlet-name>
    <servlet-class>wap.wx.servlet.Wxpaynotify_urlServlet3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Wxpaynotify_urlServlet4</servlet-name>
    <servlet-class>wap.wx.servlet.Wxpaynotify_urlServlet4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>wap.wx.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RolesServlet</servlet-name>
    <servlet-class>wap.wx.servlet.RolesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolesServlet</servlet-name>
    <url-pattern>/servlet/RolesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PowersServlet</servlet-name>
    <servlet-class>wap.wx.servlet.PowersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PowersServlet</servlet-name>
    <url-pattern>/servlet/PowersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RolesPowersServlet</servlet-name>
    <servlet-class>wap.wx.servlet.RolesPowersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolesPowersServlet</servlet-name>
    <url-pattern>/servlet/RolesPowersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicServlet</servlet-name>
    <servlet-class>wap.wx.servlet.PublicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicServlet</servlet-name>
    <url-pattern>/servlet/PublicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginInfoServlet</servlet-name>
    <servlet-class>wap.wx.servlet.LoginInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginInfoServlet</servlet-name>
    <url-pattern>/servlet/LoginInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubscriberServlet</servlet-name>
    <servlet-class>wap.wx.servlet.SubscriberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscriberServlet</servlet-name>
    <url-pattern>/servlet/SubscriberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TextServlet</servlet-name>
    <url-pattern>/servlet/TextServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemsmServlet</servlet-name>
    <url-pattern>/servlet/ItemsmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NativeServlet</servlet-name>
    <servlet-class>wap.wx.servlet.NativeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NativeServlet</servlet-name>
    <url-pattern>/servlet/NativeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>wap.wx.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/servlet/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WxServlet</servlet-name>
    <url-pattern>/WxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscriberdetailServlet</servlet-name>
    <url-pattern>/servlet/SubscriberdetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/servlet/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreServlet</servlet-name>
    <servlet-class>wap.wx.servlet.StoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreTypeServlet</servlet-name>
    <servlet-class>wap.wx.servlet.StoreTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreServlet</servlet-name>
    <url-pattern>/servlet/StoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreTypeServlet</servlet-name>
    <url-pattern>/servlet/StoreTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityServlet</servlet-name>
    <url-pattern>/servlet/ActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrizeServlet</servlet-name>
    <url-pattern>/servlet/PrizeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenprizeServlet</servlet-name>
    <url-pattern>/servlet/OpenprizeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForeServlet</servlet-name>
    <url-pattern>/ForeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EnrolServlet</servlet-name>
    <url-pattern>/servlet/EnrolServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MaterialServlet</servlet-name>
    <url-pattern>/servlet/MaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMesSerServlet</servlet-name>
    <url-pattern>/servlet/SendMesSerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MassServlet</servlet-name>
    <url-pattern>/servlet/MassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormelementsServlet</servlet-name>
    <url-pattern>/servlet/FormelementsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormsServlet</servlet-name>
    <url-pattern>/servlet/FormsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormvaluesServlet</servlet-name>
    <url-pattern>/servlet/FormvaluesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewstypesServlet</servlet-name>
    <url-pattern>/servlet/NewstypesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForumServlet</servlet-name>
    <url-pattern>/servlet/ForumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiscussServlet</servlet-name>
    <url-pattern>/servlet/DiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedtypeServlet</servlet-name>
    <url-pattern>/servlet/RedtypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendredpacklogsServlet</servlet-name>
    <url-pattern>/servlet/SendredpacklogsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendredpackServlet</servlet-name>
    <url-pattern>/servlet/SendredpackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Wxpaynotify_urlServlet</servlet-name>
    <url-pattern>/Wxpaynotify_urlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Wxpaynotify_urlServlet2</servlet-name>
    <url-pattern>/Wxpaynotify_urlServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PerMaterialServlet</servlet-name>
    <url-pattern>/servlet/PerMaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaleMemberServlet</servlet-name>
    <url-pattern>/servlet/SaleMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WxsServlet</servlet-name>
    <url-pattern>/servlet/WxsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Wxpaynotify_urlServlet3</servlet-name>
    <url-pattern>/Wxpaynotify_urlServlet3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Wxpaynotify_urlServlet4</servlet-name>
    <url-pattern>/Wxpaynotify_urlServlet4</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>